@{
    ViewData["Title"] = "Listagem de contatos";
}

<div class="text-center">

</div>

<h1 class="display-4">Listagem de contatos</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto@gmail.com</td>
      <td>41 92212-2020</td>
      <td>
         <div class="btn-group" role="group">
            <a class="btn btn-primary">Editar</a>
            <a class="btn btn-danger">Apagar</a>
         </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton@gmail.com</td>
      <td>11 92243-2020</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary">Editar</a>
                    <a class="btn btn-danger">Apagar</a>
                </div>
            </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jacob</td>
      <td>Larry@gmail.com</td>
      <td>31 98143-1032</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary">Editar</a>
                    <a class="btn btn-danger">Apagar</a>
                </div>
            </td>
    </tr>
  </tbody>
</table>